<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="robotiq_85_gripper_ros2_control" params="
    name
    prefix
    use_fake_hardware:=false
    fake_sensor_commands:=false
    sim_gazebo:=false
    sim_ignition:=false">

<!-- NOTE - currently using "system" because it is only supported hardware_interface-type by Gazebo and Ignition -->
    <ros2_control name="${name}" type="system">
      <hardware>
        <xacro:if value="${sim_gazebo}">
          <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </xacro:if>
        <xacro:if value="${sim_ignition}">
          <plugin>ign_ros2_control/IgnitionSystem</plugin>
        </xacro:if>
        <xacro:if value="${use_fake_hardware}">
          <plugin>fake_components/GenericSystem</plugin>
          <param name="fake_sensor_commands">${fake_sensor_commands}</param>
          <param name="state_following_offset">0.0</param>
        </xacro:if>
        <xacro:unless value="${use_fake_hardware or sim_gazebo or sim_ignition}">
          <plugin>robotiq_hardware_interface/NOT_IMPLEMENTED_YET</plugin>
          <param name="ADD_GRIPPER_RELEVANT_PARAMETERS">654321</param>
        </xacro:unless>
      </hardware>
      <joint name="${prefix}robotiq_85_left_knuckle_joint">
        <param name="initial_position">0.7929</param>
        <command_interface name="position">
          <param name="min">0.0</param>
          <param name="max">0.085</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="force"/>
      </joint>
      <joint name="${prefix}robotiq_85_right_knuckle_joint">
        <param name="mimic">${prefix}robotiq_85_left_knuckle_joint</param>
        <param name="multiplier">1</param>
      </joint>
      <joint name="${prefix}robotiq_85_left_inner_knuckle_joint">
        <param name="mimic">${prefix}robotiq_85_left_knuckle_joint</param>
        <param name="multiplier">1</param>
      </joint>
      <joint name="${prefix}robotiq_85_right_inner_knuckle_joint">
        <param name="mimic">${prefix}robotiq_85_left_knuckle_joint</param>
        <param name="multiplier">1</param>
      </joint>
      <joint name="${prefix}robotiq_85_left_finger_tip_joint">
        <param name="mimic">${prefix}robotiq_85_left_knuckle_joint</param>
        <param name="multiplier">-1</param>
      </joint>
      <joint name="${prefix}robotiq_85_right_finger_tip_joint">
        <param name="mimic">${prefix}robotiq_85_left_knuckle_joint</param>
        <param name="multiplier">-1</param>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>
